.basketImg {
  max-width: 40px;
  margin-bottom: 5px;
}

header {
  background: #ffffff !important;
}

.linkName {
  text-transform: capitalize;
}

.lessMarginTop {
  margin-top: -50px;
}

.pagination {
  text-align: center;
}

.gutter-row {
  margin-bottom: 30px;
}

.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  z-index: 0;
}

.mainLayout {
  min-height: 100vh !important;
}

.ant-form-item-control-input {
  max-width: 300px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.alertObject {
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fa-shopping-cart {
  font-size: 20px;
  margin-right: 5px !important;
}

.fa-shopping-cart:hover {
  font-size: 20px;
  color: #1890ff;
  transition: color 0.1s;
}

.ant-badge-count {
  background: #1890ff !important;
  font-size: 100px !important;
}

.ant-badge-count p {
  font-size: 13px;
}

.ant-card-meta-avatar {
  float: right !important;
  font-size: 12.5px;
  font-weight: bold;
}

.productImage {
  height: 280px;
  object-fit: contain;
}

.popoverListFooter {
  font-weight: 500;
}

.ant-popover {
  width: 250px;
}

.actionButton {
  transition: color 0.2s;
}

.actionButton:hover {
  color: #1890ff !important;
}

.basketIcons {
  margin-left: 40px;
}

.basketIcons span {
  margin-left: 10px !important;
}

.mb-2 {
  margin-bottom: 2px;
}

.productBasketPrice {
  float: right;
  margin-top: -25px;
  margin-right: 32px;
  color: rgba(0, 0, 0, 0.45);
}

.floatRightBasket {
  float: right;
}

.basketTitle {
  font-size: 15px;
  font-weight: 500;
}

.divider {
  width: 100%;
  display: block;
  height: 30px;
}
