.basketImg {
  max-width: 40px;
  margin-bottom: 10px;
}

header {
  background: #ffffff !important;
}

.linkName {
  text-transform: capitalize;
}

.lessMarginTop {
  margin-top: -50px;
}

.pagination {
  text-align: center;
}

.gutter-row {
  margin-bottom: 30px;
}

.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
}

.mainLayout {
  min-height: 100vh !important;
}
